#home
  .container
    .row
      .col-xs-12.text-center
      %h1 Welcome to Prium libraries
    .row
      .col-xs-12
        .panel.panel-default
          .panel-heading
            Books
          .panel-body
            %ul
              %li
                Total books in library:
                = Book.all.size
              %li
                Total books currently on loan:
                = Loan.outstanding.size
              %li
                Total books currently available for loan:
                = Book.available.size

    .row
      .col-xs-12
        .panel.panel-default
          .panel-heading
            Customers
          .panel-body
            %ul
              %li
                Total customers:
                = Customer.all.size
              %li
                Total customers with past or current loans:
                = Loan.all.uniq_customers_count


