#home
  .container
    .row
      .col-xs-12.text-center
      %h1 Welcome to Prium libraries
    .row
      .col-xs-12
        .panel.panel-default
          .panel-heading
            Books
          .panel-body
            %ul
              %li
                Total books in library:
                = @books.size
              %li
                Total books currently on loan:
                = @loans.outstanding.size
              %li
                Total books currently available for loan:
                = @books.can_be_loaned.size

    .row
      .col-xs-12
        .panel.panel-default
          .panel-heading
            Customers
          .panel-body
            %ul
              %li
                Total customers:
                = @customers.size
              %li
                Total customers with past or current loans:
                = @customers.total_having_loans


