#books-index
  .container
    .row
      .col-xs-12
        %h2 Books
    .row
      .col-xs-12
        .panel.panel-default
          .panel-heading
            = link_to "Add a new book", new_book_path(@book), class: "btn btn-success btn-sm active"
    .row
      .col-xs-12
        .panel.panel-default
          .panel-heading
            Books
          .ul
            - @books.each do |b|
              .li.list-group-item
                .row
                  .col-xs-3
                    = b.title
                    by
                    = b.author
                  .col-xs-2
                    %a.btn.btn-primary.btn-sm.active{:href => book_path(b), :role=> "button"} View book
                  .col-xs-2
                    %a.btn.btn-primary.btn-sm.active{:href => edit_book_path(b), :role=> "button"} Edit book
                  .col-xs-2
                    - if !b.loan_outstanding?
                      = link_to "Delete book", delete_book_path(b), class: "btn btn-danger btn-sm active", method: :delete, data: {confirm: "Are you sure you wish to permanently delete this book?"}
                    - else
                      = link_to "Cannot delete", "#", class: "btn btn-danger btn-sm disabled"
                  .col-xs-3
                    - if b.loan_outstanding?
                      - customer = b.current_outstanding_loan.customer
                      %a.btn.btn-primary.btn-sm.active{:href => customer_path(customer), :role=> "button"} #{display_name(customer)}
                    - else
                      %a.btn.btn-primary.btn-sm.disabled Available

    .row
      .col-xs-3.col-xs-offset-9
        = paginate @books


