#book-info
  .container.padded
    .row
      .col-xs-12
        = link_to "Back to all books", books_path, class: "btn btn-success btn-sm active"
    .row.padding-top-10
      .col-xs-12
        .panel.panel-default
          .panel-heading
            %h4 Title and Author
          .panel-body
            = @book.title
            by
            = @book.author
    - if !!@book.summary
      .row
        .col-xs-12
          .panel.panel-default
            .panel-heading
              %h4 Summary
            .panel-body
              = @book.summary
    .row
      .col-xs-12
        .panel.panel-default
          .panel-heading
            %h4 Status
          .panel-body
            - if @book.loan_outstanding?
              - customer = @book.current_outstanding_loan.customer
              %a.btn.btn-primary.btn-sm.active{:href => customer_path(customer), :role=> "button"} #{display_name(customer)}
            - else
              %a.btn.btn-primary.btn-sm{:href => customer_search_form_path, :role=> "button"} Available

