#new-loan
  .panel.panel-default
    .panel-heading
      %h1 Loan Summary
    .panel-body
      %ul
        %li
          Book title:
          = @loan.book.title
        %li
          Book author:
          = @loan.book.author
        %li
          Customer:
          = display_name(@loan.customer)
    .panel-footer
      = simple_form_for @loan, method: :post, url: create_loan_path do |f|
        = f.input :book_id, as: :hidden, input_html: {value: @loan.book.id}
        = f.input :customer_id, as: :hidden, input_html: { value: @loan.customer.id }
        = f.button :submit, "Confirm loan"

